body{
    background: url(../fotos/fondo3.jpg) ;
    opacity: 1;
}

.titulo{
    text-align: center;
    font-size: 16rem;
    color: whitesmoke;
    -webkit-text-stroke: 3px black;
}

.form-control{
    border: 1px solid black !important;
    
    &:focus {
        border: black;
    }

    &:active {
        border: black;
    }
}
 
input:focus, select:focus, select, input.form-control:focus {

    outline:none !important;

    outline-width: 0 !important;

    box-shadow: none;

    -moz-box-shadow: none;

    -webkit-box-shadow: none;}

  